sentence-transformers>=2.7.0
langchain
fastapi
uvicorn[standard]
pydantic-settings
jinja2
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_text_splitters
langchain_huggingface
langchain_openai
langchain-google-genai
pytest
httpx
-e .
